body{
  --background-color: rgb(22, 22, 65);
  --divider: rgb(80,80,80);
  --dividerblue: rgb(0,119,255);
  --dividerpurple: rgb(104,0,255);
  --dividerdarkblue: rgb(0, 79, 170);
  --buttontransition: 0.3s;
  --buttonbackground: rgb(40,40,60);
  --sectionbackground: rgb(35,35,55);
  --linkbackground: rgb(60,60,80);
  background: var(--background-color);
  overflow-x:hidden;

}

#backgroundimages{
  z-index: -1;
  opacity: 0.1;
  overflow: hidden;
  position: fixed;
  top: 0px;
  left: 0px;
  will-change: transform;
}

#backgroundimages > img{
  margin-left: auto;
  margin-right: auto;
  position: relative;
  right: 10px;
  margin-top: -5px;
}


#logo{
  width: min(700px, 50%);
  border-bottom: solid 1px var(--divider);
  margin: auto;
  text-align: center;
}


@keyframes logoanimationtext {
  0% {letter-spacing: 3px;}
  50% {letter-spacing: 4px;}
  100% {letter-spacing: 3px;}
}

#logo > p{
  animation-name: logoanimationtext;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes logoanimationimg{
  10% {opacity: 0; bottom: 60px;}
  100% {opacity: 1; bottom: 0px;}

}

#logo > img{
  opacity: 0;
  width: min(70%, 700px);
  position: relative;
  animation-name: logoanimationimg;
  animation-duration: 0.85s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

#logo > .caption{
  font-style: italic;
  color: white;
  opacity: 0.5;
  font-family: "Segoe UI";
  font-weight: lighter;
  margin-top: -10px;
  margin-bottom: 4px;
}

.author{
  font-style: italic;
  color: white;
  opacity: 0.3;
  font-family: "Segoe UI";
  font-weight: lighter;
  width: 100%;
  text-align: center;
  margin-top: 2px;
}

@keyframes navbaranimation{
  30% {opacity: 0}
  100% {opacity: 1}
}

#navbar{
  width: min(1000px, 75%);
  opacity: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  height: 100px;
  animation-name: navbaranimation;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  overflow: hidden;
}

#navbar > ul{
  display: flex;
  list-style: none;
  margin: auto;
  width: 100%;
  justify-content: space-between;
  padding-left: 0px;
  margin-top: 20px;
}

#navbar > ul > button{
  margin-left: 0px;
  color: white;
  font-family: Helvetica;
  font-weight: bold;
  width: 100px;
  height: 50px;
  text-align: center;
  align-items: center;
  border: none;
  border-bottom: solid 1px var(--divider);
  background: var(--buttonbackground);
  transition: border var(--buttontransition);
}

#navbar > ul > button:hover{
  border-bottom: solid 1px var(--dividerpurple);
  transition: border var(--buttontransition);
  cursor: pointer;
}


.section{
  width: min(1000px, 75%);
  background: var(--sectionbackground);
  border: solid 1px var(--dividerdarkblue);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  padding-top: 20px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 10px;
  box-shadow: var(--dividerdarkblue) 0px 0px 20px 3px;
  transition: box-shadow 1s;
}

.section:hover{
  box-shadow: white 0px 0px 20px 3px;
  transition: box-shadow 1s;
}

.section > h1{
  color: white;
  font-family: Helvetica;
  font-weight: lighter;
  font-size: 60px;
  width: auto;
}

.section > p{
  color: white;
  font-family: "Segoe UI";
  font-weight: lighter;
  font-size: 20px;
}

.section > img{
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  display: block;
  width: min(75%, 300px);
}

.downarrow{
  width: min(10%, 50px) !important;
}

.section > video{
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  display: block;
  width: min(75%, 300px);
}

.section > .caption{
  font-family: "Segoe UI";
  text-align: center;
  margin-top: 5px;
  font-style: italic;
  margin-bottom: 30px;
  color: white;
  font-weight: thin;
}

a{
  color: var(--dividerblue);
  text-decoration: none;
  font-style: italic;
  transition: background var(--buttontransition);
}

a:hover{
  background: var(--linkbackground);
  transition: background var(--buttontransition);
}

#creators > img{
  opacity: 0.3;
  transition: opacity 0.5s;
}

#creators > img:hover{
  opacity: 1;
  transition: opacity 0.5s;
}
